<div class="app-container">
    <br>
    <form ng-submit="" class="formly-inline pull-right" style="line-height: 64px;">

        <formly-form model="query.data" fields="query_config" style="padding-left: 16px;"></formly-form>
        <div class="box box_one">
         <span>创建时间：</span>
        <button ng-click="query_btn(1)" class="btn btn-primary " style="background:#122b40 ">昨日</button>
        <button ng-click="query_btn(2)" class="btn btn-primary">过去7天</button>
        <button ng-click="query_btn(3)" class="btn btn-primary">过去30天</button>
        <button ng-click="query_btn(4)" class="btn btn-primary">过去60天</button>
        </div>
    </form>
    <script>
        // 2016.9.19
        // 修改按钮颜色 guohongjun
        $(".box_one>.btn").mousedown(function () {
            index=$(this).index();
            $(".box_one>.btn").css({background:"#337ab7"}).eq(index-1).css({background:"#122b40"})
        })
    </script>


    <div class="clearfix"></div>
    <br>
    <span ng-if="data.length>0">项目汇总:{{data.length}}</span>
    <span ng-if="data.length<=0">暂无内容</span>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="text-align: center;">项目ID</th>
            <th>工程名称</th>
            <th style="text-align: center;">工程地点</th>
            <th>项目成员</th>
            <th>账户属性</th>
            <th style="text-align: center;">项目详情</th>
            <th>操作</th>
            <th style="text-align: center;">创建时间</th>
            <th>使用时长(天)</th>
            <th>操作日志数</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <td style="text-align: center;">{{item.id}}</td>
            <td style="width: 150px;word-break: break-all;">{{item.name}}</td>
            <td style="text-align: center;">{{item.address_name}}</td>
            <td ng-click="show_project_member(item)" style="color:blue;" >{{item.members_count}}</td>
            <td>
                <span ng-if="item.status==3" class="project-state-del">解散</span>
                <span ng-if="item.status==0 && !item.is_renzheng && (item.enable_days_status==0 || item.enable_days_status==1)" class="project-rezheng-try">试用</span>
                <span ng-if="item.status==0 &&item.is_renzheng && (item.enable_days_status==0 || item.enable_days_status==1)" class="project-rezheng-renzheng">订阅</span>
                <span ng-if="item.status==0 &&!item.is_renzheng && item.enable_days_status==2" class="project-rezheng-warning">试用到期</span>
                <span ng-if="item.status==0 &&item.is_renzheng && item.enable_days_status==2" class="project-rezheng-timeout">订阅到期</span>
            </td>
            <td style="text-align: center;">
                <button type="button" class="btn btn-success" ng-click="show_projectinfo(item)">查看</button>
            </td>
            <td>
                <button type="button" class="btn btn-success" ng-click="recover_project(item)" ng-if="item.status==3">恢复</button>
                <button type="button" class="btn btn-success" ng-click="delete_project(item)" ng-if="item.status!=3">解散</button>
                <button type="button" class="btn btn-success" ng-click="log_project(item)">日志</button>
                <button type="button" class="btn btn-success" ng-click="renzheng_project(item)" ng-if="item.status==0 && !item.is_renzheng && (item.enable_days_status==0 || item.enable_days_status==1)">订阅</button>
                <button type="button" class="btn btn-success" ng-click="renzheng_project(item)" ng-if="item.status==0 &&!item.is_renzheng && item.enable_days_status==2">订阅</button>
                <button type="button" class="btn btn-success" ng-click="renzheng_project(item)" ng-if="item.status==0 &&item.is_renzheng && item.enable_days_status==2">订阅</button>
            </td>
            <td style="text-align: center;">{{item.create_time}}</td>
            <td>{{item.create_days}}</td>
            <td>{{item.start_count}}</td>
        </tr>
        </tbody>
    </table>
</div>