.home-container {
  max-width: 900px;
}

.panel-home {
  .panel-heading {
    font-size: 18px;
  }
  .panel-body {
    font-size: 16px;
    height: 500px;
    table {
      td {
        height: 36px;
        padding: 0 4px;
      }
    }
  }
}
.font-title{
  font-size: 1.5em;
}
.leji{width: 100%;
      height: auto;
    li{width: 33.33333333333%;
       height:auto;
       float: left;
       text-align: left;
       line-height: 48px;
       font-size: 18px;
        }
      }
