.login_window {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #444 url('../images/login/carbon_fibre_big.png');
}

.loginBox {
  width: 420px;
  height: 230px;
  padding: 0 20px;
  border: 1px solid #fff;
  color: #000;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 15px #222;
  background: -moz-linear-gradient(top, #fff, #efefef 8%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
  font: 11px/1.5em 'Microsoft YaHei';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  margin-top: -115px;
}

.loginBox h2 {
  height: 45px;
  font-size: 20px;
  font-weight: normal;
}

.loginBox .left {
  height: 100%;
  padding-right: 20px;
}

.regBtn {
  margin-top: 21px;
}

.login-form {
  width: 360px;
  padding-top: 100px;
  margin: 0px auto;
  text-shadow: none;

  .btn-default {
    background-color: #4da5ff;
    color: #fff;
  }

  .sg {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;

    .btn-primary {
      color: white;
      background-color: #399bff;
      border: 1px solid #399bff;
      &.active {
        color: white;
        background-color: #208eff;
        border: 1px solid #208eff;
      }
      &:hover {
        color: white;
        background-color: #4da5ff;
        border: 1px solid #4da5ff;
      }
    }

    img {
      margin-bottom: 18px;
    }

    .profile {
      border-radius: 999px;
    }
    .top {
      border-bottom: 1px solid #ddd;
      text-align: center;
      padding: 30px 0;
      .icon {
        width: 100px;
        height: 100px;
      }
      h4 {
        margin: 0;
        font-weight: normal;
        color: #76757B;
        font-size: 15px;
      }
      h1 {
        color: #37363E;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: -14px;
      }
    }

    .form-area {
      padding: 40px;

      .group {
        position: relative;
        margin-bottom: 20px;
      }

      .form-control {
        padding-left: 38px;
        height: 40px;
      }

      .fa {
        position: absolute;
        top: 11px;
        left: 13px;
        font-size: 16px;
        color: #C3C3C3;
      }

      .btn {
        height: 42px;
        font-weight: 600;
      }
    }
  }
}