<div class="app-container">
    <br>
    <script>
        // 2016.9.19修改背景色
        $(".btnbox2>.btn").mousedown(function () {
            index=$(this).index();
            $(".btnbox2>.btn").css({background:"#337ab7"}).eq(index-1).css({background:"#122b40"})
        })
    </script>
    <table class="table table-bordered">
        <tr>
            <th>注册编码</th>
            <th>项目名称</th>
            <th>项目ID</th>
            <th>项目地点</th>
            <th>施工企业</th>
            <th>项目注册时间</th>
            <th>团队成员</th>
            <th>超级管理员</th>
            <th>建道号</th>
            <th>手机号码</th>
            <th>邀请码</th>
            <th>帐户属性</th>
            <th>账户状态</th>
            <th>操作日志</th>
            <th>项目详情</th>
        </tr>
        <tr ng-repeat="data in dataresult">
            <td>{{data.name}}</td>
            <td>{{data.new_project_count}}</td>
            <td ng-if="data.name!='未知'">{{data.new_project_count/new_project_count*100|number:2}}%</td>
            <td ng-if="data.name=='未知'">-</td>
            <td>{{data.active_project_count}}</td>
            <td ng-if="data.name!='未知'">{{data.active_project_count/active_project_count*100|number:2}}%</td>
            <td ng-if="data.name=='未知'">-</td>
            <td>{{data.normal_project_count}}</td>
            <td ng-if="data.name!='未知'">{{data.normal_project_count/normal_project_count*100|number:2}}%</td>
            <td ng-if="data.name=='未知'">-</td>
            <td>{{data.renzheng_project_count}}</td>
            <td ng-if="data.name!='未知'">{{data.renzheng_project_count/renzheng_project_count*100|number:2}}%</td>
            <td ng-if="data.name=='未知'">-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>           
        </tr>
        <!--<tr ng-if="dataresult.length>0">
            <td>合计</td>
            <td>{{new_project_count}}</td>
            <td>100%</td>
            <td>{{active_project_count}}</td>
            <td>100%</td>
            <td>{{normal_project_count}}</td>
            <td>100%</td>
            <td>{{renzheng_project_count}}</td>
            <td>100%</td>
        </tr>-->
        <!--<tr ng-repeat="city in city_list" ng-if="query.data.query_area_type">-->
            <!--<td>{{city.province_name}} {{city.city_name}}</td>-->
            <!--<td ng-repeat="t in total_user_result" ng-if="t.name==city.city_name">{{t.count}}</td>-->
            <!--<td ng-repeat="t in total_user_result" ng-if="t.name==city.city_name">{{t.count/total_user_count*100|number:2}}%</td>-->
            <!--<td ng-repeat="n in new_user_result" ng-if="n.name==city.city_name">{{n.count}}</td>-->
            <!--<td ng-repeat="n in new_user_result" ng-if="n.name==city.city_name">{{n.count/new_user_count*100|number:2}}%</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="province in province_list" ng-if="!query.data.query_area_type">-->
            <!--<td>{{province.province_name}}</td>-->
            <!--<td ng-repeat="t in total_user_result" ng-if="t.name==province.province_name">{{t.count}}</td>-->
            <!--<td ng-repeat="t in total_user_result" ng-if="t.name==province.province_name">{{t.count/total_user_count*100|number:2}}%</td>-->
            <!--<td ng-repeat="n in new_user_result" ng-if="n.name==province.province_name">{{n.count}}</td>-->
            <!--<td ng-repeat="n in new_user_result" ng-if="n.name==province.province_name">{{n.count/new_user_count*100|number:2}}%</td>-->
        <!--</tr>-->
    </table>

</div>

